<div class="spaced margin-bottom--5">
  <h2>Threads - {{projectTitle}}</h2>
  <div>
    {{#if isOwner}}
      <button {{action 'inviteUsers'}}>Invite User</button>
    {{/if}}
    <button {{action 'showModal'}}>New Thread</button>
  </div>
</div>

<div class='project-users'>
  Owner >> {{project.owner.firstName}}
  <br>
  Members >>
  {{#each project.members as |member|}}
    {{member.firstName}}
  {{/each}}
</div>

<div class="grid-row">
  <div class="grid-3">
    {{tab-box}}
  </div>
  <div class="grid-7">
    {{#each threads as |thread|}}
      {{thread-tile
        deleteThread=(action 'deleteThread')
        editThread=(action 'editThread')
        isOwner=isOwner
        thread=thread}}
    {{/each}}
  </div>
</div>

{{#if isShowingInviteModal}}
  {{#modal-dialog
    containerClass="custom-modal"
    onClose="onCloseInvite"
    translucentOverlay=true}}
  {{user-list
    projectId=project.id}}
{{/modal-dialog}}

{{/if}}

{{#if isShowingModal}}
  {{thread-edit-modal
    onClose=(action 'onClose')
    createThread=(action 'createThread')
    updateThread=(action 'updateThread')
    thread=selectedThread}}
{{/if}}
